body{
    font-family: 'Poppins', sans-serif;
}
.banner-area {
    filter: brightness(50%);
}
.all-text{
   color: #289BDE;
}
.new ,.get-button{
    background-color: #289BDE;
}

.questions{
    width:75%
}
.footer-icon{
    color:#289BDE;
}
p{
    color:#777777;
}
